<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }
</style>


    <div>
     <h1>
       Bienvenido
     </h1>
     <button (click)="getAllTasks()">getAllTasks()</button>
     <button (click)="getTask()">getTask()</button>
     <button (click)="createTask()">createTask()</button>
     <button (click)="updateTask()">updateTask()</button>
     <button (click)="deleteTask()">deleteTask()</button>
   </div>  

<router-outlet></router-outlet>